<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Valor/Hora</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/style.css')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="static/imagens/favicon-32x32.png">
    <script src="{{url_for ('static' , filename = 'js/script.js')}}"></script>
    <script type="module" src="server.js"></script>
</head>

<body>




    <div class="container">
        <div id="wallpaperbox" class="container2">
            <div class="input_box">
                <form id="wallpaperpadproj" class="form">
                    <a id="heading" href="{{url_for('indexhome')}}">PADPROJECTS</a>
                    <p class="p_cabecalho">O QUE QUER FAZER AGORA ?</p>
                    <div class="btn">
                        <a class="button1" href="{{url_for('novoprojeto')}}">Novo Projeto</a>
                        <a class="button1" href="{{url_for('viewproj')}}">Ver projetos</a>
                        <a class="button1" href="{{url_for('tothorasproj')}}">Total de Horas</a>
                        <a class="button1" href="{{url_for('modifyvalorhora')}}">Modificar Valor/Hora</a>

                    </div>
                    <div>
                        <a style="color: blueviolet; text-decoration: none; ;" href="{{url_for('historypag')}}">Sobre o
                            padprojects</a>
                    </div>
                </form>

            </div>

            <div>

                <a href="{{url_for('modifyvalorhoraenglish')}}">
                    <img class="img_english" src="{{url_for('static' , filename = 'imagens/USA-PNG-Clipart.png')}}"
                        width="50px" height="50px">
                </a>

                <a href="novoprojeto.html">
                    <img class="img_brazil" src="https://node01.flagstat.net/media/catalog/product/detail/12717.png"
                        width="55px" height="35px">
                </a>

            </div>


            <div class="toggle-switch">
                <label class="switch-label">
                    <input id="checkbox"
                        onclick="mudarcor('#ffffff', 'radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0)','#dbd6d6','#cfcbcb','#1b1a1a','#cfcbcb','#e4e1e100')"
                        type="checkbox" class="checkbox"> <span class="slider"></span>
                </label>
            </div>




            <div class="new_div">
                <div id="inputwhite" class="div_input">
                    <div class="container">

                        <div id="loginwhite" class="modal">
                            <div class="modal__header">
                                <span class="modal__title">Modificar Valor/Hora</span><button
                                    class="button button--icon"><svg width="24" viewBox="0 0 24 24" height="24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill="none" d="M0 0h24v24H0V0z"></path>
                                        <path
                                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z">
                                        </path>
                                    </svg></button>
                            </div>
                            <form action="/modifyvalorhora" method='post'>
                                <div class="modal__body">
                                    <div class="input">
                                        <label class="input__label">Nome do projeto a modificar</label>
                                        <input placeholder="Ex: Crude_trabalhadores" name='nomeprojeto'
                                            class="input__field" type="text">
                                        <p class="input__description">Se estiver em duvidas consulte quais projetos você
                                            possui cadastrado na padprojects <a href="{{url_for('viewproj')}}">clique
                                                aqui</a>.</p>
                                    </div>
                                    <div class="input">
                                        <label class="input__label">Novo valor</label>
                                        <input placeholder="Novo valor aqui." name='novovalor' class="input__field" type="text">
                                        <p class="input__description">Não se preocupe, você poderá alterar quantas vezes
                                            quiser.</p>
                                    </div>
                                </div>
                                <div class="modal__footer">
                                    <button class="button button--primary">Alterar</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button id="popupid" class="popupstyle1" onclick="abrirpop_porti()" type="button"> <img
                            src="{{url_for('static',filename ='imagens/Portifólio_img.png')}} "></button>

                    <button class="popupstyle2" onclick="abrirpop_linkd()" type="button"><img
                            src="{{url_for('static',filename ='imagens/Linked_img.png')}}"></button>

                    <button class="popupstyle3" onclick="abrirpop_github()" type="button"><img
                            src="{{url_for('static',filename ='imagens/icons8-github-30.png')}}"></button>
                    <p style="margin-left: 400px; color:rgb(219, 219, 211);">Desenvolvido por Kauã Lopes Monteiro</p>

                </div>

            </div>






        </div>





    </div>
</body>

</html>