<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padprojects - Modify Value/Hours</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/style.css')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="static/imagens/favicon-32x32.png">
    <script src="{{url_for('static' , filename = 'js/script.js')}}"></script>
    <script type="module" src="server.js"></script>
</head>

<body>




    <div class="container">
        <div id="wallpaperbox" class="container2">
            <div class="input_box">
                <form id="wallpaperpadproj" class="form">
                    <a id="heading" href="{{url_for('indexhomeenglish')}}">PADPROJECTS</a>
                    <p class="p_cabecalho">WHAT YOU WANT TO DO NOW ?</p>
                    <div class="btn">
                        <a class="button1 buttonwhite" href="{{url_for('novoprojetoenglish')}}">New Project</a>
                        <a class="button1 buttonwhite" href="{{url_for('viewprojenglish')}}">View Project</a>
                        <a class="button1 buttonwhite" href="{{url_for('tothorasprojenglish')}}">View Total Hours</a>
                        <a class="button1 buttonwhite" href="{{url_for('modifyvalorhoraenglish')}}">Modify
                            Value/Hours</a>

                    </div>
                    <div>
                        <a style=" color: blueviolet; text-decoration: none; "
                            href="{{url_for('historypagenglish')}}">About us</a>
                    </div>
                </form>

            </div>

            <div>

                <a href="modifyvalorhora_english.html">
                    <img class="img_english" src="{{url_for('static' , filename = 'imagens/USA-PNG-Clipart.png')}}"
                        width="50px" height="50px">
                </a>

                <a href="{{url_for('modifyvalorhora')}}">
                    <img class="img_brazil" src="https://node01.flagstat.net/media/catalog/product/detail/12717.png"
                        width="55px" height="35px">
                </a>

                <form action = "{{url_for('logoff')}}"  method = 'POST'>
                    <button class="button_logoff" type='submit'>Sair</button>
                </form>

            </div>


            <div class="toggle-switch">
                <label class="switch-label">
                    <input id="checkbox"
                        onclick="mudarcor('#ffffff', 'radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0)','#dbd6d6','#cfcbcb','#1b1a1a','#cfcbcb','#e4e1e100')"
                        type="checkbox" class="checkbox"> <span class="slider"></span>
                </label>
            </div>






            <div class="new_div">
                <div id="inputwhite" class="div_input">
                    <div class="container">

                        <div id="loginwhite" class="modal">
                            <div class="modal__header">
                                <span class="modal__title">Modify Value/Hours</span><button
                                    class="button button--icon"><svg width="24" viewBox="0 0 24 24" height="24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill="none" d="M0 0h24v24H0V0z"></path>
                                        <path
                                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z">
                                        </path>
                                    </svg></button>
                            </div>
                            <form action="/modifyvalorhoraenglish" method="post">
                                <div class="modal__body">
                                    <div class="input">
                                        <label class="input__label">Name of the project to be modified</label>
                                        <input class="input__field" type="text" placeholder="Ex: Project Crudworks" name="nomeprojeto">
                                        <p class="input__description">If you are in doubt, check which projects you have
                                            registered at padprojects <a href="{{url_for('viewprojenglish')}}">click
                                                here</a>.</p>
                                    </div>
                                    <div class="input">
                                        <label class="input__label">New value</label>
                                        <textarea placeholder="New value here."
                                            class="input__field input__field--textarea" name="novovalor"></textarea>
                                        <p class="input__description">Don't worry, you'll be able to change it as many times
                                            as you want.</p>
                                    </div>
                                </div>
                               
                            <div class="modal__footer">
                                <button class="button button--primary" type="submit">Done</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="popupstyle1" onclick="abrirpop_porti()" type="button"> <img
                            src="{{url_for('static' , filename = 'imagens/Portifólio_img.png')}}"></button>

                    <button class="popupstyle2" onclick="abrirpop_linkd()" type="button"><img
                            src="{{url_for('static' , filename = 'imagens/Linked_img.png')}}"></button>

                    <button class="popupstyle3" onclick="abrirpop_github()" type="button"><img
                            src="{{url_for('static' , filename = 'imagens/icons8-github-30.png')}}"></button>
                    <p style="margin-left: 400px; color:rgb(219, 219, 211);">Developed by Kauã Lopes Monteiro</p>

                </div>

            </div>






        </div>





    </div>
</body>

</html>